{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<h1 align="center">{{ "articles.title" | trans }}</h1>

<a href="{{ path('home') }}">{{ "home.title" | trans }}</a>

<br>


{% endblock %}