{% extends 'base.html.twig' %}

{% block title %}{{ "navbar.items.home" | trans }}{% endblock %}

{% block body %}

<div class="home-jumbotron gradient">
</div>

<div class="auto-scroller"></div>

{% endblock %}
