{% extends 'base.html.twig' %}

{% block title %}Posts
{% endblock %}

{% block body %}


	<div class="container-fluid mt-5">
		<div class="row justify-content-center">
			<div class="col-10">
				
				{% if posts|length > 0 %}
					{% for key, post in posts %}
						<div class="card {{ key > 0 ? 'mt-3' : 'mt-4' }}">
							<div class="card-header">
								<div class="row">
									<div class="col-8">
										<h5 class="admin-card-title">{{ post.title }}</h5>
									</div>
									<div class="col-4 text-right">
										<a href="{{ url('post', {post: post.id}) }}" class="btn btn-outline-primary mr-2">Read</a>
									</div>
								</div>
							</div>
							<div class="card-body admin-card-content">
								<div class="post-list-content">
									{{ post.content }}
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h5 class="mt-4">Aucun article n'a été posté</h5>
				{% endif %}


			</div>
		</div>
	</div>


{% endblock %}
