/* ! Home page */
/* ? Jumbotron */
@media screen and (max-width: 1290px) {
   .jumbotron-text {
      width: 80%;
   }
   .jumbotron-text h1 {
      font-size: 5.2vw;
   }
}

@media screen and (max-width: 700px) {
   .jumbotron-text {
      width: 90%;
   }
   .jumbotron-text h1 {
      font-size: 6vw;
   }
}

/* ? main section */
@media screen and (max-width: 800px) {
   #main-title h1 {
      font-size: 5.4vw;
   }
}

/* ? Compteur */
@media screen and (max-width: 700px){
   #title-compteur {
      font-size: 22px;
      padding-top: 15px;
   }
   #compteur-dates .element-date {
      padding: 8px 0 15px 0;
      margin: 0 20px 0 20px;
      font-size: 15px;
   }
   #jours, #heures, #minutes, #secondes {
      font-size: 22px;
   }
}
@media screen and (max-width: 450px){
   #title-compteur {
      font-size: 18px;
   }
}

/* ? Popup carbon */
@media screen and (max-width: 600px) {
   .carbon-container {
      width: calc(100% - 16px);
   }
   #carbon-emis-title, #charbon-emis-title {
      font-size: 16px;
   } 
}
@media screen and (max-width: 400px) {
   #carbon-emis-title, #charbon-emis-title {
      font-size: 14px;
   } 
}