/* NavBar */
.fixed-bg {
   box-shadow: 0px -2px 15px rgba(0, 0, 0, .3);
}


/* Home page */
.home-jumbotron {
   width: 100%;
   height: 60vh;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
}

.jumbotron-text {
   width: 60%;
   height: 50%;
   text-align: center;
   color: white;
}

@keyframes jumbotron-down-arrow-animation {
   0% {
      transform: translateY(0px);
   }
   5% {
      transform: translateY(15px);
   }
   10% {
      transform: translateY(0px);
   }
   15% {
      transform: translateY(15px);
   }
   20% {
      transform: translateY(0px);
   }
   100% {
      transform: translateY(0px);
   }
}

.jumbotron-down-arrow {
   display: flex;
   cursor:pointer;
   justify-content: center;
   align-items: center;
   padding-top: 7px;
   border-radius: 50%;
   width: 60px;
   height: 60px;   
   animation:  4s infinite linear jumbotron-down-arrow-animation;
   transition: .4s;
}

.jumbotron-down-arrow:hover {
   background-color: rgba(255, 255, 255, .2);
   transition: .4s;
}

.jumbotron-down-arrow a {
   color: white;
}
.big-title {
   font-size: 4.5rem;
}


#main {
   padding-top: 75px;
   display: flex;
   justify-content: center;
}

#main-title h1 {
   display: inline;
   text-align: center;
   text-transform: uppercase;
   font-weight: 400;
}

#main h1 #dominant {
   background: rgb(25, 25, 25);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   border-bottom: 4px solid rgb(25, 25, 25);
}


/* Autres */
.auto-scroller {
   height: 200vh;
}