/* ! NavBar */
.fixed-bg {
   box-shadow: 0px -2px 15px rgba(0, 0, 0, .3);
}


/* ! Home page */
/* ? Jumbotron */
.home-jumbotron {
   width: 100%;
   height: 60vh;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
}

.jumbotron-text {
   width: 60%;
   height: 50%;
   text-align: center;
   color: white;
}

@keyframes jumbotron-down-arrow-animation {
   0% {
      transform: translateY(0px);
   }
   5% {
      transform: translateY(15px);
   }
   10% {
      transform: translateY(0px);
   }
   15% {
      transform: translateY(15px);
   }
   20% {
      transform: translateY(0px);
   }
   100% {
      transform: translateY(0px);
   }
}

.jumbotron-down-arrow {
   display: flex;
   cursor:pointer;
   justify-content: center;
   align-items: center;
   padding-top: 7px;
   border-radius: 50%;
   width: 60px;
   height: 60px;   
   animation:  4s infinite linear jumbotron-down-arrow-animation;
   transition: .4s;
}

.jumbotron-down-arrow:hover {
   background-color: rgba(255, 255, 255, .2);
   transition: .4s;
}

.jumbotron-down-arrow a {
   color: white;
}
.big-title {
   font-size: 4.5rem;
}

/* ? Main section */
#main {
   padding-top: 75px;
}

#main-title {
   display: flex;
   justify-content: center;
}

#main-title h1 {
   display: inline;
   text-align: center;
   text-transform: uppercase;
   font-weight: 400;
}

#main h1 #dominant {
   background: rgb(25, 25, 25);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   border-bottom: 4px solid rgb(25, 25, 25);
}


/* ? Cards */
#cards {
   margin-top: 80px;
}


/* ? Contact */
#compteur {
   width: 100%;
   margin-top: 50px;
   text-align: center;
}

#title-compteur {
   color: rgba(255, 255, 255, .6);
   font-size: 25px;
   font-weight: 600;
   padding-top: 30px;
}

#compteur-dates {
   display: flex;
   justify-content: center;
   align-items: center;
}

.date-divider {
   height: 50px;
   width: 1px;
   background-color: rgba(255, 255, 255, 0.2);
}

#compteur-dates .element-date {
   padding: 15px 0 30px 0;
   margin: 0 30px 0 30px;
   color: rgba(255, 255, 255, .6);
   font-size: 22px;
}

#jours, #heures, #minutes, #secondes {
   font-size: 30px;
   font-weight: 600;
}

/* ? Popup carbon */
.carbon-container {
   position: fixed;
   bottom: 8px;
   left: 8px;
   width: 500px;
   padding: 20px 30px;
   background-color: white;
   z-index: 10;
   border-radius: 5px;
   border: 2px solid rgb(240, 240, 240);
   box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.carbon-container-minimal {
   position: fixed;
   bottom: 8px;
   left: 8px;
   width: 130px;
   padding: 10px 15px;
   background-color: white;
   z-index: 10;
   border-radius: 5px;
   border: 2px solid rgb(240, 240, 240);
   box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}

.carbon-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#carbon-jauge {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

#carbon-jauge .carbon-couleur {
   width: calc(100% / 5.3);
   height: 5px;
}

#carbon-jauge .carbon-couleur:nth-child(1){
   background-color: #00a80e;
}
#carbon-jauge .carbon-couleur:nth-child(2){
   background-color: #00e467;
}
#carbon-jauge .carbon-couleur:nth-child(3){
   background-color: #e5fd0d;
}
#carbon-jauge .carbon-couleur:nth-child(4){
   background-color: #fa952f;
}
#carbon-jauge .carbon-couleur:nth-child(5){
   background-color: #ec190c;
}

.carbon-marker {
   position: relative;
   width: 100%;
   height: 10px;
}

.carbon-marker span {
   position: absolute;
   transform: translateX(-50%);
   /* left: position par rapport à la gauche */
}

.carbon-indicateur {
   color: grey;
   font-size: 15px;
}

#carbon-values {
   width: 100%;
   display: flex;
   justify-content: space-around;
}
/* #carbon-values-minimal {
   width: 100%;
   display: flex;
   justify-content: space-between;
} */

#carbon-ticket, #carbon-ticket-minimal {
   width: 15px;
   height: 15px;
   border-radius: 50px;
}

#carbon-value, #carbon-coal, #value-carbon-minimal {
   font-size: 18px;
   font-weight: 600;
}

.carbon-element {
   display: inline-block;
}

#carbon-emis-title, #charbon-emis-title {
   font-size: 20px;
   font-weight: normal;
}


.inner-carbon {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.maximize {
   font-size: 20px;
}

/* ! Admin */
/* ? Users list */
.admin-card-title {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.post-list-content {
   display: block;
   max-height: 70px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

/* ! Autres */
.auto-scroller {
   height: 200vh;
}