{% extends 'base.html.twig' %}

{% block title %}{{ "admin.dashboard.page.title" | trans }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/components/tile.css') }}">
{% endblock %}

{% block body %}

	<div class="container-fluid mt-5">
		<div class="row justify-content-center">
			{% include "components/tile.html.twig" with {
				"location": url('admin_users_list'),
				"title": "admin.dashboard.users" | trans
			} %}

			{% include "components/tile.html.twig" with {
				"location":url('admin_posts_list'),
				"title": "admin.dashboard.posts" | trans
			} %}
		</div>
	</div>


{% endblock %}
