{% extends 'base.html.twig' %}

{% block title %}{{ "navbar.items.writer" | trans }}{% endblock %}

{% block body %}

<p>Écrire un article ici</p>
<p>Cette page est protégé, seul les personnes connectées peuvent y accéder</p>

{% endblock %}


