<div class="col-2 mx-3">
   <div class="card-info">
      <div class="design">
         <div class="forme1-{{type}}"></div>
         <div class="forme2-{{type}}"></div>
      </div>
      <div class="card-text">
         <div class="skill" leet-speak>{{ skill }}</div>
         <span class="skill-domain" leet-speak>{{ domain }}</span>
      </div>
   </div>
</div>