<div class="col-2 mx-1" onclick="Tile.changeLocation({{ location }})">
   <div class="tile-container">
      <div class="tile-icon">
         <i class="fas fa-list"></i>
      </div>
   </div>
</div>

